<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
<title>Embedded Style Sheet</title>
<link href="../stylesheet/style.css" rel="stylesheet">
</head>
<body>
    <div>
        <h1>Discography</h1>
        <div class="row">
        <div class="column">
        <img src="photos/Sentiment" alt="Red Rocks" style="width:100%">
        </div>
          <div class="column">
            <img src="photos/saidthesky.jpeg" alt="Said the Sky" style="width:100%">
            </div>
          <div class="column">
            <img src="photos/saidthesky3.jpeg" alt="Red Rocks Stage View" style="width:100%">
          </div>
        </div>
    
</body>
</html>